<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>423049162614-l3pchaoupciudf8h5k8ptbscmc10gu8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423049162614-l3pchaoupciudf8h5k8ptbscmc10gu8s</string>
	<key>API_KEY</key>
	<string>AIzaSyBOlFMxSEReO66KYaLHvFYuoOXspPj53Ls</string>
	<key>GCM_SENDER_ID</key>
	<string>423049162614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pickPoker</string>
	<key>PROJECT_ID</key>
	<string>pickpoker-db6da</string>
	<key>STORAGE_BUCKET</key>
	<string>pickpoker-db6da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423049162614:ios:e26480b71bf2cdfa859457</string>
	<key>DATABASE_URL</key>
	<string>https://pickpoker-db6da-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>